<% @posts.each do |post| %>
  <% if post.errors.any? %>
    <h3><%= post.errors.count %> errors prohibited this post from being saved:</h3>
    <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h1>投稿一覧</h1>
<%= render 'list', posts: @posts %>